@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <p> Bitte kontaktieren Sie einen Admin :)</p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
