@page
@model LogoutModel
@{
    ViewData["Title"] = "Log out";
}

<header>
    <h1>@ViewData["Title"]</h1>
    @if (User.Identity?.IsAuthenticated ?? false)
    {
        <p>You are logged in. The logout process is in progress...</p>
    }
    else
    {
        <p>You have successfully logged out of the application.</p>
    }
</header>