@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}


<div class="row">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h2>Erstelle einen neuen Account.</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <!-- Username Field -->
            <div class="form-floating mb-3">
                <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" placeholder="Username" />
                <label asp-for="Input.Username">Benutzername</label>
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>

           

            <!-- Password Field -->
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" />
                <label asp-for="Input.Password">Passwort</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <!-- Confirm Password Field -->
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm Password" />
                <label asp-for="Input.ConfirmPassword">Passwort bestätigen</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            <!-- Register Code Field -->
            <div class="form-floating mb-3">
                <input asp-for="Input.Code" class="form-control" aria-required="true" placeholder="Register Code" />
                <label asp-for="Input.Code">Anmelde Code</label>
                <span asp-validation-for="Input.Code" class="text-danger"></span>
            </div>

            <!-- Submit Button -->
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
