@page
@model Feedback_Application.Pages.FeedbackReportModel
@{
    ViewData["Title"] = "Smiley Feedback";
}

<h2>Smiley-Feedback</h2>
<link rel="stylesheet" href="~/css/Smiley.css" asp-append-version="true">

<form method="post">
    <table class="feedback-table" style="width: 60%; margin: auto; border: 2px solid black; border-collapse: collapse; text-align: center;">
        <thead>
            <tr>
                <th style="border: 2px solid black; padding: 10px;">😊</th>
                <th style="border: 2px solid black; padding: 10px;">😞</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @if (Model.ExtraFeedbacks.Any())
                {
                            @foreach (var extra in Model.ExtraFeedbacks)
                            {
                                                    <td style="border: 2px solid black; padding: 20px;">
                    <div class="extra-feedback">
                             <textarea class = "feedback-textarea" placeholder="..."name="extra_feedback_@extra.FragenID"></textarea>

                            </div>
                        </td>
                            }
                  

                }
              @*   <td style="border: 2px solid black; padding: 20px;">
                </td> *@
            </tr>
        </tbody>
    </table>

    <button type="submit" style="margin-top: 20px;">Absenden</button>
</form>
