@page
@model Feedback_Application.Pages.FeedbackPages.StartModel
@{
    ViewData["Title"] = "Selection Page";
}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selection Side</title>
    <link rel="stylesheet" href="~/css/Start.css" />
</head>
<body>
    <div class="container-Start">
        <a href="Ergebnisse" class="card results">
            <div class="icon">📊</div>
            Ergebnisse ansehen
        </a>
        <a href="feedback.html" class="card feedback">
            <div class="icon">📝</div>
            Feedbackbogen auswählen
        </a>
    </div>
</body>
</html>



