@page
@model Feedback_Application.Pages.FeedbackPages.UmfrageModel
@{
    ViewData["Umfrage"] = "Umfragen ansehen";
}
<head>
    <link rel="stylesheet" href="~/css/UmfrageAnsehen.css" />
</head>

<h1>@ViewData["Umfrage"]</h1>

<form method="post">
    <p>Unterrichtsbeurteilung durch Schülerinnen und Schüler I</p>
    <div class="container">
        <div class="empty-div"></div>
        <div class="empty-div"></div>
        <div class="empty-div"></div>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

