.container-Results {
    display: flex;
    justify-content: space-evenly; /* Gleichmäßige Verteilung der Karten */
    align-items: center; /* Vertikale Zentrierung */
    gap: 50px; /* Abstand zwischen den Karten */
    margin: 0 auto; /* Zentriert den gesamten Container horizontal */
    padding: 20px; /* Optional: Abstand innerhalb des Containers */
    max-width: 1000px; /* Begrenze die Breite des Containers */
}

h1 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.survey-table {
    width: 100%; /* Tabelle füllt die Breite des Containers */
    border-collapse: collapse;
    font-size: 16px;
    text-align: left;
    margin-top: 10px;
}

.survey-table thead th {
    background-color: #87cefa;
    color: #ffffff;
    padding: 10px;
    text-transform: uppercase;
    border-bottom: 2px solid #ffffff;
}

.survey-table tbody td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.survey-table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.survey-table tbody tr:hover {
    background-color: #e9f7fd;
}

.survey-table tbody tr td:first-child {
    font-weight: bold;
}
