body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.table-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.smiley-option {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
}

    .smiley-option input {
        margin-top: 5px;
    }

.feedback-textarea {
    width: 650px;
    height: 100px;
    resize: none;
    border: 1px solid #ccc;
    padding: 8px;
    font-size: 14px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

    button:hover {
        background-color: #0056b3;
    }

tbody {
    height: 180px;
}
