@page
@model IndexModel
@{
    ViewData["Title"] = "Profil";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />

<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div class="form-group">
                <label asp-for="Username" class="form-label"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>
        </form>
    </div>

    <div class="col-md-6">
        <!-- Hier wird das Admin-Panel eingefügt -->
        <partial name="~/Areas/Admin/Pages/Shared/_AdminPanel.cshtml" model="Model.AdminPanel" />


    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
