@page
@model Feedback_Application.Pages.FeedbackPages.ErgebnisseModel
@{
    ViewData["Title"] = "Result Page";
}
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selection Side</title>
    <link rel="stylesheet" href="~/css/Ergebnisse.css" />
</head>
<body>
    <div class="container-Results">
        <table class="survey-table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titel</th>
                    <th>Erstellt</th>
                </tr>
            </thead>
            <tbody>
            @* Hier müssen dann alle "Umfragen" selected werden und per for schleife eingefügt werden  *@
            </tbody>
        </table>
    </div>
</body>
</html>
